* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F3F1F1;
}
.container {
    /* border:1px solid red; */
    display: flex;
}
/* Side Menu */
.side-menu {
    /* border:1px solid black; */
    width: 15%;
    height: auto;
    background-color: #1A3783;
    color: white;
}
.user-level {
    background-color: white;
    text-align: center;
    color: #1A3783;
    padding: 5px;
}
.user-profile {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /* border-bottom: 2px solid white; */
}
.side-bri-logowhite {
    text-align: center;
}
.side-user-menu {
    text-align: justify;
    padding:15px;
    /* border: 1px solid red; */
}
.side-user-menu ul {
    /* border: 1px solid red; */
    width: 200px;
}
.side-user-menu ul li {
    /* border: 1px solid red; */
    list-style: none;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    padding-left: 40px;
}
.side-user-menu ul li i {
    /* border: 1px solid red; */
    position: relative;
    top: 3px;
    right: 5px;
}
.side-user-menu ul li:hover {
    color:  #1A3783 ;
    cursor: pointer;
    background-color: white;
}
.side-user-menu ul li:active {
    opacity: 0.5;
}
.menu-selected {
    background-color: white;
    color: #1A3783;
}
.side-logout {
    padding-bottom: 110%;
    text-align: center;
}
.btn-logout {
    border: none;
    color: #1A3783;
    text-align: center;
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
}
.btn-logout:hover {
    background-color: orange;
    color: white;
}


                                    /* Main Menu */

                                        /* Card */
.main-menu {
    /* border:1px solid red; */
    width: 85%;
    height: auto;
    display: flex;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.row {
    /* border: 1px solid red; */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid  #1A3783;
    margin: 20px;
    margin-top: -10px;
    width: 30%;
    height: 30%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0.5px rgba(92, 92, 92, 0.5);
    align-items: center;
    margin-bottom: 200px;
}
.col1 {
    height: 65%;
    /* border: 1px solid red; */
    width: 40%;
}
.icon-user {
    /* border: 1px solid black; */
    color:  #1A3783;
    width: 100%;
    height: 100%;
    font-size: 8em;
}
.col2 {
    width: 50%;
    height: 65%;
    /* border: 1px solid red; */
}
.level-user {
    /* border: 1px solid green; */
    color:  #1A3783;
    width: 100%;
    font-size: 70px;
    text-align: center;
    padding: 10px;
}
.level-user.longtext {
    margin-top: 20px;
    font-size: 45px;
}
.level-user.approve {
    color: #F0582F;
    font-size: 80px;
    font-weight: bold;
    width: 200%;
}
.level-user.notapprove {
    font-size: 80px;
    font-weight: bold;
    width: 200%;
}
.level-user.done {
    color: #7E7E7E;
    font-size: 80px;
    font-weight: bold;
    width: 200%;
}
.col3 {
    /* border: 1px solid gray; */
    width: 100%;
    color:  #1A3783;
    font-size: 1.5em;
    border-top: 2px solid  #1A3783;
    padding-top: 10px;
    font-weight: bold;
}
                                                        /* Card */

                                                        /* Content */
.row2 {
    /* border: 1px solid black; */
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60%;
    border: 2px solid  #1A3783;
    background-color: white;
    margin: 20px;
    margin-top: -15%;
    border-radius: 20px;
    padding: 10px;
    color:  #1A3783;
    box-shadow: 0px 0px 5px 0.5px rgba(92, 92, 92, 0.5);
    box-sizing: border-box;
    overflow: auto;
}
.feedback {
    margin-top: 2%;
    height: 90%;
    overflow: hidden;
}
.feedbackpcu {
    border: 2px solid #1A3783;
    height: 45%;
    margin:1%;
}
.feedbackpba {
    border: 2px solid #1A3783;
    height: 45%;
    margin:1%;
}
.feedback-lihat {
    /* border: 1px solid red; */
}
.feedback-row {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}
.feedback-foto{
    /* border: 1px solid red; */
    width: 30%;
}
.feedback-info{
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
}
.feedfor {
    text-align: center;
}
.feedback-stars{
    /* border: 1px solid red; */
    width: 30%;
    font-size: 3em;
}
.textarea-feedback {
    width: 90%;
    border: 2px solid #1A3783;
    border-radius: 10px;
    height: 200px;
    padding: 20px;
    color: gray;
    font-size: 15px;
}
.btn-feedback {
    margin: 10px;
}
.col4 {
    height: 100%;
    box-sizing: border-box;
}
.title {
    color: #1A3783;
    text-align: center;
}
.table-data-user {
    margin: 10px auto;
    border: none;
}
.table-data-user tr {
    border: none;
    color: gray;
    
}
                                                /* dashboard tabel Data */
.table-data-user tr th{
    padding-left: 45px;
    padding-right: 45px;
    background-color: #1A3783;
    color: white;
}
.btn-edit {
    border: none;
    background-color:  #1A3783;
    color: white;
    padding: 5px;
    width: 4em;
    border-radius: 5px;
}
.btn-edit:hover {
    background-color: orange;
}
.btn-edit:active {
    opacity: 0.7;
}
.search-form {
    border: 2px solid  #1A3783;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px;
    margin-left: 75%;
}
.btn-plus {
    background-color:  #1A3783;
    border-radius: 20px;
    border: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}
.btn-plus:hover {
    background-color:  orange;
}
.btn-plus:active {
    opacity: 0.6;
}
                                                            /* dashboard tabel Data */

                                                            /* dashboard tambah data dan edit data*/
.form-tambah-edit-data {
    /* border: 1px solid red; */
    margin-top: 10px;
    width: auto;
    text-align: left;
    font-size: 15px;
    color: #1A3783;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
}
input[type=text], select {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    color: gray;
  }
.btn-tambah{
    margin-left: 100px;
    background-color: #1A3783;
    border: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    color: white;
}
.btn-batal {
    background-color: #F0582F;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    color: white;
}
.btn-tambah:hover{
    opacity: 0.8;
    background-color: orange;
}
.btn-batal:hover{
    opacity: 0.8;
    background-color: orange;
}
.btn-tambah:active{
    opacity: 0.6;
}
.btn-batal:active{
    opacity: 0.6;
}    
                                                        /* dashboard edit data dan tambah data */

                                                        /* Content */