* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Dekstop */
.login-page {
    margin: 160px;
    margin-left: 580px;
    margin-right: 580px;
    width: 390px;
    height: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgba(107, 107, 107, 0.8);
    background-color: white;
}
.login-input-form {

    border: 2px solid;
    height: 40px;
    width: 230px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: hsl(0, 0%, 73%);
    color: gray;
    padding-left: 20px;
    opacity: 0.7;
    color: #1A3783;
    font-weight: bold;
}
.btn-login-masuk {
    width: 240px;
    color: white;
    background-color: #1A3783;
    border: none;
    height: 40px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-login-masuk:hover {
    background-color: orange;
    transition: 0.1s;
}
.btn-login-masuk:active{
    opacity: 0.6;
    border: none;
}
.lupa-password {
    text-decoration: none;
}
.lupa-password:hover{
    color: #F07F06;
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 768px) {
    .login-page {
        width: 290px;
        margin-left: 32%;
    }
}
@media (max-width: 368px) {
    .login-page {
        margin-left: 10%;
    }
}